@media (max-width: 768px) {
    .main-container {
        flex-wrap: wrap;
    }
}


body{
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    margin:0;
}


footer {
  width: 100%;
  font-size: 12px; 
  text-align: center;
  color: white;
  }
footer a{
    color: hsl(0, 100%, 50%);
}


.main-container{
    display: flex;
    margin: 5vw 10vw;
    min-width: 80vw;
    min-height: 50vw;
}



.left-container{
     position: relative;
     min-width: 40vw;
     padding: 5vw 0vw;
     color:white;
}
.left-container h1{
    font-size: 48px;
}
.right-container{
     position: relative;
     display: flexbox;
     min-width: 40vw;
}
.top-container{
    background-color:  hsl(248, 32%, 49%);
    color:white;
    border: 0px;
    border-radius: 10px;
    
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    position: relative;
    width: 100%;
    box-shadow: 0 5px  rgba(0, 0, 0, 0.2) ;
    cursor:pointer;
}
.top-container:hover{
    background-color: hsl(248, 60%, 28%);
}
.top-container:active{
    box-shadow: 0px 0px;
    transform: translateY(5px);
}

.bottom-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 7px  rgba(0, 0, 0, 0.2) ;
    font-size: 0.7em;
    text-align: center;
}

.box{
    position: relative;
    margin: 1rem;
    padding-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.form-box{
    width: 90%;
    border: solid 1px  grey;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    color:grey;
    font-weight: 700;
    
}

#btn-claim{
    position: relative;
    width: 98%;
    background-color: hsl(154, 59%, 51%);
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    color:white;
    font-weight: 700;
    text-transform: uppercase;
    cursor:pointer;
    box-shadow: 0 5px  hsla(154, 79%, 28%, 0.6);
}
#btn-claim:hover{
    background-color: hsl(154, 79%, 28%);
}
#btn-claim:active{
    transform: translateY(5px);
    box-shadow: 0 0px;
}

.form-footer{
    color:grey;
    padding-top: 10px;
    padding-bottom: 50px ;
}
.form-footer a{
    color:hsl(0, 100%, 74%) ;
    text-decoration: none;
    font-weight: bolder;
}

#register{
    color: green;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
}

.empty{
    text-align: right;
    color: hsl(0, 100%, 74%);
    font-style: italic;
    font-weight: 600;
    margin: 5px 10px;
}
